<div>

  <ngb-alert *ngIf="message" type="{{type}}" [dismissible]="false">
    {{message}}
  </ngb-alert>

<form (ngSubmit)="onSubmit()" #printForm="ngForm">
  <div class="form-group">
    <label for="noma">Noma</label>
    <input type="text" class="form-control" id="noma" required
           [(ngModel)]="model.Noma" name="noma">
  </div>

  <mat-form-field >
    <label for="date"></label>
    <input matInput [min]="minDate" [max]="maxDate" [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="Choose a date"
           required [(ngModel)]="model.Date" name="date" id="date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <div class="form-group">
    <label for="Nom">Nom</label>
    <input type="text" class="form-control" id="Nom"
           required [(ngModel)]="model.Nom" name="Nom">
  </div>

  <div class="form-group">
    <label for="matiere">Matiere</label>
    <select class="form-control"  id="matiere"
            required [(ngModel)]="model.Matiere" name="matiere">

      <option *ngFor="let material of materials" [value]="material">{{material}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="prix">Prix</label>
    <input type="number" class="form-control" id="prix"
           required [(ngModel)]="model.Prix" min="0" name="prix">
  </div>

  <div class="form-group">
    <label for="temps">Temps</label>
    <input type="number" class="form-control" id="temps"
           required [(ngModel)]="model.Temps" max="14" min="0" name="temps">
  </div>


  <div *ngIf='model.Temps <= 2' class="form-group">
    <label for="heure">Heure</label>
    <select  class="form-control"  id="heure"
            required [(ngModel)]="model.Heure" name="heure">

      <option  *ngFor="let hour of hours" [value]="hour">{{hour}}</option>
    </select>

  </div>
  <div *ngIf='model.Temps > 2' class="form-group">
    <label for="heurelong">Heure</label>
    <select  class="form-control"  id="heureLong"
            required [(ngModel)]="model.Heure" name="heure">

      <option  *ngFor="let hour of longPrintHours" [value]="hour">{{hour}}</option>
    </select>

  </div>


  <div class="form-group">
    <label for="file">GCode File</label>
    <input type="file" class="form-control" id="file"
           required  name="file"  (change)="fileProgress($event)" >

  </div>


  <button type="submit" *ngIf="Data" class="btn btn-success" [disabled]="!printForm.form.valid">Submit</button>

</form>

</div>
