<h1 id="titre">Equipe</h1>
<div >
  <ul>
    <li><h1><img src="../../assets/Images/Elise.jpg" width="20%" height="20%"></h1>
      <h2>Presidente du Fablab : Elise Raxhon</h2>
    </li>
    <li><h1><img src="../../assets/Images/Julien.jpg" width="20%" height="20%"></h1>
      <h2>Comptable : Julien Stilmant</h2>
    </li>
    <li><h1><img src="../../assets/Images/Oscar.jpg" width="20%" height="20%"></h1>
      <h2>Responsable electronique : Oscar Marafko</h2>
    </li>
    <li><h1><img src="../../assets/Images/Theo.jpg" width="20%" height="20%"></h1>
      <h2>Responsable 3D : Theo Ducoulombier</h2>
    </li>
  </ul>
</div>
