{% extends 'base.html.twig' %}



{% block body %}
    <div>{{form(Day)}}</div>

        {% if Data %}
        {% for infos in Data %}
            <table>
{{ infos.Nom }}
            </table>
        {% endfor %}
        {% endif %}



    <div>
        {{include('impression3d/jour.html.twig')}}
    </div>

{% endblock %}
