{% extends 'base.html.twig' %}


{% block body %}

<h1 id="titre">Galerie</h1>
<div >
    <ul>
        <img src="{{asset('Images/Galerie/1.jpg')}}" width="20%" height="20%">
        <img src="{{asset('Images/Galerie/2.jpg')}}" width="20%" height="20%">
    </ul>
</div>
{% endblock %}
