{% extends 'base.html.twig' %}



{% block body %}


<div>


    <h1 id="titre">Evenement 2019</h1>
    <ul>
        <li>Afterwork PECAM x Fablab : 10 octobre 2019 </li>
        <li>Formation 3D : 17 octobre 2019</li>
    </ul>
</div>
{% endblock %}
