{% extends 'base.html.twig' %}

{% block title %}Hello ActivitesController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        
        <li>Your controller at <code><a href="{{ 'C:/Users/dtheo/Fab/src/Controller/ActivitesController.php'|file_link(0) }}">src/Controller/ActivitesController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/dtheo/Fab/templates/activites/index.html.twig'|file_link(0) }}">templates/activites/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
